.header {
  margin: 100px 0;
}

.img-logo {
  width: 300px;
}

@media screen and (max-width: 400px) {
  .img-logo {
    width: 250px;
  }
}

.title {
  font-style: italic;
  font-variant: small-caps;
  color: #525252;
}

.button {
  margin-top: 50px;
  outline: 0 !important;
}

.measure {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #525252;
  color: #ffffff;
  font-size: 12px;
  padding: 6px 12px;
}

.label-w,
.label-h {
  text-align: center;
  font-size: 10px;
  font-weight: 600;
}

.width {
  margin-bottom: 5px;
}

.window-width-size,
.window-height-size {
  text-align: center;
  font-weight: 700;
}
